DATA_DIR=bitcoin_pipeline/data
DUCKDB_PATH=bitcoin_pipeline/data/bitcoin_pipeline.duckdb
S3_BUCKET=bitcoin-pipeline-bronze
AWS_REGION=ap-southeast-1
S3_ENDPOINT_URL=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
